* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

body {
    height: 100vh;
    background-color: rgb(236, 236, 236);
}


.cabecalho {
    height: 10%;
    background-color: rgb(158, 158, 158);
}

.cabecalho-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.cabecalho-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho-title h1 {
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.cabecalho-title a {
    text-decoration: none;
}



.cabecalho-nav {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.cabecalho-nav-lista {
    display: flex;
    list-style-type: none;
    gap: 20px;

}

.cabecalho-nav-lista-item a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}


.container {
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 75%;
    margin-top: 1em;
}

.container-conteudo-titulo {
    /* border-bottom: 1px solid grey; */
    text-align: center;
    margin-bottom: 3px;
    padding: 5px 5px 10px 5px;
}

.container-conteudo-titulo h2 {
    /* color: green; */
}

.container-titulo {
    height: 10%;
    display: flex;
    justify-content: baseline;
}

.container-titulo div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.container-titulo div h2 {
    margin: 3px 0 0 10px;
}

.container-conteudo {
    width: 70%;
    padding: 20px;
    box-shadow: 5px 5px 10px #b1b1b1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container-opcoes {
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-opcoes h2 {
    margin-bottom: 1em;
}

.container-opcoes ul {
    display: flex;
    background-color: rgb(61, 61, 61);
    align-items: baseline;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    box-shadow: 5px 5px 10px #b1b1b1;
}

.container-opcoes ul li {
    border: 1px solid grey;
    padding: 15px;
    width: 100%;
    text-decoration: none;
}

.container-opcoes ul li a {
    color: rgb(255, 165, 31);
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
}

.container-opcoes ul li a:hover {
    color: rgb(202, 131, 25);
}

.container-buttons {
    display: flex;
    padding: 5px 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
}

.container-buttons ul {
    flex-grow: 1;
    overflow-y: auto;
}

.container-buttons li {
    list-style-type: none;
}


.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#body-todas-tarefas {
    height: 80vh;
}

.container-todas-tarefas {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: justify;
    width: 60%;
    padding: 12px;
    box-shadow: 5px 5px 10px #b1b1b1;
    border-radius: 5px;
    overflow-y: auto;
}

#container-todas-tarefas-titulo {
    display: flex;
    text-align: center;
    padding: 10px;
    margin-bottom: 3px;
    justify-content: center;
}

.container-todas-tarefas div {
    margin: 4px 0;
    padding: 2px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.container-todas-tarefas li {
    list-style-type: none;
    display: flex;
}

#tarefa-pendente,
#Pendente {
    margin-left: 2px;
    color: red;
    text-transform: uppercase;
}

#tarefa-concluida,
#Concluido {
    margin-left: 2px;
    color: green;
    text-transform: uppercase;
}

#tarefa-item {
    display: inline;
}

/*ADICIONAR NOVA TAREFA */
.container-nova-tarefa {
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px #b1b1b1;
}

.container-nova-tarefa form {
    padding: 32px;
}

.container-nova-tarefa-preencher {
    padding: 24px;
    text-align: center;
}

.container-nova-tarefa-preencher label {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: bold;
}

.container-nova-tarefa-preencher input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    width: 100%;
}

.container-botao-nova-tarefa {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;

}


.container-botao-nova-tarefa input,
.edit-button2 {
    padding: 12px 24px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    width: 80%;
    background-color: black;
    color: rgb(255, 165, 31);
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    cursor: pointer;
}

.container-botao-nova-tarefa input:hover {
    color: rgb(202, 131, 25);
}

/* edit.php */
.edit-main {
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.edit-main label,
.edit-main input,
.edit-main p {
    margin: 0.2em 0;
    padding: 0.2em;
}

.edit-main #button {
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 20px 20px;
    font-size: 1.3em;
    margin-top: 0.6em;
    cursor: pointer;
}

.sections-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #b1b1b1;
    width: 70%;
    height: 80%;
}

.sections-container h2 {
    padding: 0.5em;
}

.first-section,
.second-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
    width: 80%;
}

.second-section {
    margin-top: 1em;
}

.second-section h4 {
    text-align: center;
}

.second-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    width: 100%;
}

.second-section form input,
.second-section form select {
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
}

footer {
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: center;
    background-color: rgb(158, 158, 158);
}

footer span {
    margin-bottom: 5px;
}

footer span a {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

.finish-button {
    background: none;
    border: none;
    cursor: pointer;
    color: green;
    font-size: 30px;
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 30px;
}

.detele-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 30px;
}

.container-buttons div form {
    display: flex;
}

@media (max-width: 768px) {
    .cabecalho-content {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .cabecalho-title a h1 {
        font-size: 1.3em;
    }

    .cabecalho-nav {
        margin-top: 10px;
        font-size: 0.5em;
        padding: 0;
    }

    .cabecalho-nav a {
        color: yellow;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .container-opcoes,
    .container-conteudo {
        width: 100%;
    }

    .container-buttons div {
        display: flex;
        width: 50%;
    }

    .container-buttons div form {
        display: flex;
        width: 100%;
    }

    .finish-button,
    .edit-button,
    .detele-button {
        font-size: 20px;
        width: 33%;
    }

    .container-nova-tarefa {
        margin-top: 20px;
    }

    .container-todas-tarefas {
        width: 100%;
    }

    .sections-container {
        margin-top: 20px;
        width: 100%;
    }

    .second-section {
        width: 100%;
    }
    
}