* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

body {
    height: 100vh;
    background-color: rgb(236, 236, 236);
}


.cabecalho {
    height: 10%;
    background-color: rgb(158, 158, 158);
}

.cabecalho-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.cabecalho-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho-title h1  {
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;    
}

.cabecalho-title a {
    text-decoration: none;
}



.cabecalho-nav {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.cabecalho-nav-lista {
    display: flex;
    list-style-type: none;
    gap: 20px;
    
}
.cabecalho-nav-lista-item a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}


.container {
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 85%;   
    height: 75%;
    margin-top: 1em;
}

.container-conteudo-titulo {
    /* border-bottom: 1px solid grey; */
    text-align: center;
    margin-bottom: 3px;
    padding: 5px 5px 10px 5px;
}

.container-conteudo-titulo h2 {
    /* color: green; */
}

.container-titulo {
    height: 10%;
    display: flex;
    justify-content: baseline;
}

.container-titulo div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.container-titulo div h2 {
    margin: 3px 0 0 10px;
}

.container-conteudo {
    width: 70%;
    padding: 20px;
    box-shadow: 5px 5px 10px #b1b1b1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container-opcoes {
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-opcoes h2 {
    margin-bottom: 1em;
}

.container-opcoes ul {
    display: flex;
    background-color: rgb(61, 61, 61);
    align-items: baseline;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    box-shadow: 5px 5px 10px #b1b1b1;
}

.container-opcoes ul li {
    border: 1px solid grey;
    padding: 15px;
    width: 100%;
    text-decoration: none;
}

.container-opcoes ul li a {
    color: rgb(255, 165, 31);
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
}

.container-opcoes ul li a:hover {
    color: rgb(202, 131, 25);
}

.container-buttons {
    display: flex;
    padding: 5px 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
}

.container-buttons ul {
    flex-grow: 1;
    overflow-y: auto;
}

.container-buttons li {
    list-style-type: none;
}
.container-buttons button {
    margin-left: 5px;
    padding: 5px;
    width: 80px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#botao-excluir {
    background-color: red;
}
#botao-excluir:hover {
    background-color: rgb(173, 1, 1);
}

#botao-concluir {
    background-color: green;
}

#botao-concluir:hover {
    background-color: rgb(0, 83, 0);
}

#botao-editar {
    background-color: grey;
}

#botao-editar:hover {
    background-color: rgb(85, 85, 85);
}

#body-todas-tarefas {
    height: 80vh;
}

.container-todas-tarefas {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: justify;
    width: 60%;
    padding: 12px;
    box-shadow: 5px 5px 10px #b1b1b1;
    border-radius: 5px;
    overflow-y: auto;
}

#container-todas-tarefas-titulo {
    display: flex;
    text-align: center;
    padding: 10px;
    margin-bottom: 3px;
    justify-content: center;
}

.container-todas-tarefas div {
    margin: 4px 0;
    padding: 2px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.container-todas-tarefas li {
    list-style-type: none;
    display: flex;
}

#tarefa-pendente,
#Pendente {
    margin-left: 2px;
    color: red;
    text-transform: uppercase;
}
#tarefa-concluida,
#Concluido {
    margin-left: 2px;
    color: green;
    text-transform: uppercase;
}

#tarefa-item {
    display: inline;
}

/*ADICIONAR NOVA TAREFA */
.container-nova-tarefa {
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px #b1b1b1;
}

.container-nova-tarefa form {
    padding: 32px;
}

.container-nova-tarefa-preencher {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-nova-tarefa-preencher label {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: bold;
}

.container-nova-tarefa-preencher input {
    height: 30px;
    font-size: 1em;
}

.container-botao-nova-tarefa {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;

}


.container-botao-nova-tarefa input {
    padding: 12px 24px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    width: 80%;
    background-color: black;
    color: rgb(255, 165, 31);
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    cursor: pointer;
}

.container-botao-nova-tarefa input:hover {
    color: rgb(202, 131, 25);
}
/* edit.php */
.edit-main {
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.edit-main label,
.edit-main input,
.edit-main p {
    margin: 0.2em 0;
    padding: 0.2em;
}

.edit-main #button {
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 20px 20px;
    font-size: 1.3em;
    margin-top: 0.6em;
    cursor: pointer;
}

.sections-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 25%;
    height: 80%;
    border-radius: 10px 10px;
}

.sections-container h2 {
    padding: 0.5em;
}

.first-section,
.second-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
    width: 80%;
}

.first-section {
    height: 30%;
}

.second-section {
    margin-top: 1em;
    height: 50%;
}

.second-section h4 {
    text-align: center;
}

.second-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    width: 100%;
}

.second-section form input,
.second-section form select {
    width: 80%;
}

footer {
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: center;
    background-color: rgb(158, 158, 158);
}

footer span {
    margin-bottom: 5px;
}

footer span a {
    color: rgb(196, 196, 196);
    text-decoration: none;
}